# **Python function that takes a list of numbers as input and returns the sum of all even numbers in the list**

In [1]:
def sum_of_even_numbers(numbers):
    even_sum = 0
    for num in numbers:
       if num % 2 == 0:
            even_sum += num
    return even_sum

numbers_list = [1, 2, 3, 4, 5, 6]
result = sum_of_even_numbers(numbers_list)



print(f"The sum of even numbers is: {result}")

The sum of even numbers is: 12

# **Python function that accepts a string and returns the reverse of that string**

In [3]:
user_input = input("Enter a string to reverse: ")

def reverse_string(input_string):
    # Reverse the string using slicing

    reversed_string = input_string[::-1]
    return reversed_string
result = reverse_string(user_input)


print(f"The reversed string is: {result}")

Enter a string to reverse: sa
The reversed string is: as

# **Python function modified to take user input for a list of integers, and then return a new list containing the squares of each number**

In [5]:
user_input = input("Enter a list of numbers : ")


def square_numbers(numbers):

    squared_list = [num ** 2 for num in numbers]
    return squared_list


numbers_list = list(map(int, user_input.split()))


result = square_numbers(numbers_list)
print(f"The list of squared numbers is: {result}")

Enter a list of numbers : 1 2 3
The list of squared numbers is: [1, 4, 9]

# **Python function that checks if a given number is prime or not, specifically for numbers in the range from 1 to 200**

In [34]:
def is_prime(number):

    if number < 2:
        return False


    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False

    return True

prime_numbers = list(filter(is_prime, range(1, 201)))

print("Prime numbers from 1 to 200 are:")
print(prime_numbers)

Prime numbers from 1 to 200 are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

# **iterator class in Python that generates the Fibonacci sequence up to a specified number of terms**

In [40]:
class FibonacciIterator:
    def __init__(number, n):
        number.n = n
        number.a, number.b = 0, 1
        number.count = 0

    def __iter__(number):
        return number


    def __next__(number):
        if number.count < number.n:

            number.a, number.b = number.b, number.a + number.b
            number.count += 1
            return number.a
        else:

            raise StopIteration


n_terms = 10
fibonacci_sequence = FibonacciIterator(n_terms)

for number in fibonacci_sequence:
    print(number)

1
1
2
3
5
8
13
21
34
55

# **generator function in Python that yields the powers of 2 up to a given exponent**

In [41]:
def powers_of_2(exponent):
    """Generator function to yield powers of 2 up to the given exponent."""
    for i in range(exponent + 1):
        yield 2 ** i

try:
    user_input = int(input("Enter the maximum exponent for powers of 2: "))
    if user_input < 0:
        print("Exponent should be a non-negative integer.")
    else:

        for power in powers_of_2(user_input):
            print(power)
except ValueError:
    print("Please enter a valid integer.")

Enter the maximum exponent for powers of 2: 4
1
2
4
8
16

# **Implement a generator function that reads a file line by line and yields each line as a string**

In [ ]:
def read_lines(filename):
    """Generator function to read a file line by line and yield each line."""
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

filename = input("Enter the filename to read: ")
for line in read_lines(filename):
    print(line)

# **lambda function in Python to sort a list of tuples based on the second element of each tuple**

In [ ]:

tuples_list = [(86, 3), (63, 1), (36, 2), (66, 4)]


sorted_list = sorted(tuples_list, key=lambda x: x[1])

print("Sorted list:", sorted_list)

# **Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit**

In [ ]:

celsius_temperatures = [0, 200, 370, 100]

fahrenheit_temperatures = list(map(lambda c: (c * 9/5) + 32, celsius_temperatures))

print("Temperatures in Fahrenheit:", fahrenheit_temperatures)


# **Python program that uses filter to remove all the vowels from a given string.**

In [ ]:
user_input = input("Enter a string: ")

def remove_vowels(input_string):

    vowels = 'AEIOUaeiou'
    result = ''.join(filter(lambda char: char not in vowels, input_string))

    return result


output_string = remove_vowels(user_input)

print("String without vowels:", output_string)

# **which returns a list with 2-tuples**

In [43]:
def calculate_order_values(orders):


  return list(map(lambda order: (order[0], (order[2] * order[3]) + 10 if (order[2] * order[3]) < 100 else (order[2] * order[3])), orders))

orders = [
  [34587, "Learning Python, Mark Lutz", 4, 40.95],
  [98762, "Programming Python, Mark Lutz", 5, 56.80],
  [77226, "Head First Python, Paul Barry", 3, 32.95],
  [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

result = calculate_order_values(orders)
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]